.wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.8rem;

  .mat-icon {
    font-size: 0.8rem;
    height: fit-content;
    width: fit-content;
    margin-right: 0.3rem;
  }
}
